/* LoginComponent.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 60px;
    width: 300px;
    text-align: center;
}

.login-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin: 10px 0;
    text-align: left;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
