/* card-styles.css */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: auto; /* Centra horizontalmente */
}

.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.card a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #0056b3;
}
